page-amaradewa {
    
    .toolbar-background-md {
        background: #00bcd4 !important;
    }

    p{
        font-size: 14px;
    }
    
    .longLyrics2{
        font-size: 12px !important;
        line-height: 14px !important;
    }

    h2{
        font-weight: bolder;
        font-size: 22px;
        color:#2196f3;
    }

    .listen{
        border-radius: 12px ; 
    }

}
